#u303,#u311,#u312
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u249,#u238,#u244,#u282
{
	background-color: transparent;
	position: relative;
}

#u282_clip
{
	overflow: hidden;
}

#u230,#u185,#u269,#u176,#u267-4,#u182,#u310-4,#u313-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

